/** Styles for the LOOC-C estimates table. */

/* Set the Methods column to use flex. */
.view-farm-loocc-estimates td.views-field-accu-estimates div:first-of-type {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 1em;
}

/* Make the method dropdown larger. */
.view-farm-loocc-estimates td.views-field-accu-estimates select {
  min-width: 100px;
  flex: 5 0;
}

/* Method warnings details element. */
.view-farm-loocc-estimates details.method-warning {
  flex: 1 0;
}

/* Display on separate line when open. */
.view-farm-loocc-estimates details.method-warning[open] {
  flex-basis: 100%;
}

/* Style the details summary with warning icon and pointer cursor. */
.view-farm-loocc-estimates details.method-warning summary {
  cursor: pointer;
  list-style: none;
  padding: 0;
  text-align: center;
  background-color: initial;
}
.view-farm-loocc-estimates details.method-warning summary::before {
  content: '';
  display: inline-block;
  height: 1.5em;
  width: 1.5em;
  background: url("data:image/svg+xml,%3csvg fill='%23e29700' height='16' width='16' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='m14.66 12.316-5.316-10.633c-.738-1.476-1.946-1.476-2.685 0l-5.317 10.633c-.738 1.477.008 2.684 1.658 2.684h10.002c1.65 0 2.396-1.207 1.658-2.684zm-7.66-8.316h2.002v5h-2.002zm2.252 8.615c0 .344-.281.625-.625.625h-1.25c-.345 0-.626-.281-.626-.625v-1.239c0-.344.281-.625.626-.625h1.25c.344 0 .625.281.625.625z'/%3e%3c/svg%3e") no-repeat;
  background-size: 1.5em;
}

/* Style the estimated ACCUs. */
.view-farm-loocc-estimates td.column-method-accu {
  font-size: 1.5em;
  font-weight: 500;
}

/* Set a min-width for the LRF Co-benefits column. */
.view-farm-loocc-estimates td.column-method-lrf {
  min-width: 160px;
}

/* Set a min-width for the LRF Co-benefits column. */
.view-farm-loocc-estimates td.views-field-carbon-average,
.view-farm-loocc-estimates td.views-field-carbon-target {
  max-width: 100px;
}

/* Actions column */
.view-farm-loocc-estimates td.column-estimate-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 6em;
}

/* Estimate action links. */

/* Center the icon in a square. */
.view-farm-loocc-estimates .action-link {
  padding: calc(.75rem - 2px) calc(1rem - 2px) !important;
  margin: 0 .75rem 0 0 !important;
}
.view-farm-loocc-estimates .action-link::before {
  margin: 0 !important;
}

/* Update estimate button. Copy many of the styles specific to the Gin trash action link.*/
.view-farm-loocc-estimates .action-link.update-estimate {
  display: none;
  box-sizing: border-box;
  border: 2px solid var(--colorGinPrimary);
  border-radius: 8px;
  transition: 0.15s;
}
.view-farm-loocc-estimates .action-link.update-estimate.active {
  display: inline-block;
}

/* Active and hover behavior. */
.view-farm-loocc-estimates .action-link.update-estimate:hover,
.view-farm-loocc-estimates .action-link.update-estimate:active {
  color: var(--colorGinLayerBackground);
  background-color: var(--colorGinPrimary);
}
.view-farm-loocc-estimates .action-link.update-estimate:hover::before,
.view-farm-loocc-estimates .action-link.update-estimate:active::before {
  background-color: var(--colorGinLayerBackground);
}
